/* @import "https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"; */

@import "https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css";
@import "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800";
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700";

/* @import "./../scss/bootstrap.css"; */